<div>
    <table mat-table [dataSource]="CompareList$ | async" class="mat-elevation-z8" multiTemplateDataRows>
        <ng-container matColumnDef="group">
            <div *ngIf="canGrouBy; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
                <th mat-header-cell *matHeaderCellDef>
                    <mat-form-field appearance="fill">
                        <mat-select [(value)]="selectedGroup" (selectionChange)="onGroupChange($event)">
                            <mat-option value="">All Groups</mat-option>
                            <mat-option *ngFor="let group of Groups$ | async" value="{{group}}">{{group}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-icon *ngIf="canAdd" class="action-icon" (click)="onIconClick('New')">add</mat-icon>
                </th>
            </ng-template>
            <ng-template #elseBlock>
                <th mat-header-cell *matHeaderCellDef> Group </th>
                <mat-icon *ngIf="canAdd" class="action-icon" (click)="onIconClick('New')">add</mat-icon>
            </ng-template>
            <td mat-cell *matCellDef="let element"> {{element.group}} </td>
        </ng-container>

        <ng-container matColumnDef="left">
            <th mat-header-cell *matHeaderCellDef> Left </th>
            <td mat-cell *matCellDef="let element"> {{element.left}} </td>
        </ng-container>

        <ng-container matColumnDef="right">
            <th mat-header-cell *matHeaderCellDef> Right </th>
            <td mat-cell *matCellDef="let element"> {{element.right}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status</th>
            <td mat-cell *matCellDef="let element">
                <span *ngIf="element?.result?.structuralChanges > 0" [matBadge]="element?.result?.structuralChanges"
                    matBadgeSize="small" matBadgeOverlap="false" matBadgeColor="warn">Structure</span>

                <span *ngIf="element?.result?.dataChanges > 0" [matBadge]="element?.result?.dataChanges"
                    matBadgeSize="small" matBadgeColor="accent" matBadgeOverlap="false" style="margin-left: 20px;">
                    Data</span>
                <span *ngIf="element?.result?.dataChanges == 0 && element?.result?.structuralChanges == 0">OK</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions</th>
            <td mat-cell *matCellDef="let element">
                <mat-icon *ngIf="canUpdate" class="action-icon" aria-hidden="false" color="secondary" aria-label="Edit"
                    (click)="onIconClick('Update',element)">edit
                </mat-icon>
                <mat-icon *ngIf="canDelete" class="action-icon" aria-hidden="false" color="warn"
                    (click)="onIconClick('Delete',element)" aria-label="Delete">
                    delete</mat-icon>
                <mat-icon *ngIf="canRun" class="action-icon" aria-hidden="false" color="primary"
                    (click)="onIconClick('Run',element)" aria-label="Run">
                    play_arrow</mat-icon>
            </td>
        </ng-container>

        
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="getDisplayColumns().length">
              <div class="element-detail"
                   [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                  <app-result-grid class="resultGrid" [result]="element?.result"></app-result-grid>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="getDisplayColumns()"></tr>

        <tr mat-row *matRowDef="let row; columns: getDisplayColumns();"
            class="element-row" 
            [class.expanded-row]="expandedElement === row" 
            (click)="expandedElement = expandedElement === row ? null : row"  >
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
    </table>
    
</div>